* {
    box-sizing: border-box;
}


.scroll-down {
    margin: 1% 0 10% 45%;
    width: 10%;
    text-align: center;
    background-color: rgba(50, 50, 50, 0);
}

.info-container {
    margin: 0% 0 5% 0;
    padding: 5% 0 0 0;
    background-color: rgb(24, 24, 24);
}

.packages > h1{
    font-family: 'Titillium Web', sans-serif;    font-size: 2.5vw;
    color: rgb(201, 201, 201);
    font-weight: 700;
    padding: 5% 0 0 0;
    margin: 0 0 0 5%;
}

.packages > p {
    font-family: 'Titillium Web', sans-serif;    font-size: 1.5vw;
    color: rgb(201, 201, 201);
    font-weight: 700;
    padding-bottom: 5%;
    text-rendering: optimizeLegibility;
}




.top {
  width: 5%;
  position: fixed;
  bottom: 10%;
  padding: 2% 2% 2% 1%;
  margin-left: 96%;
  text-decoration: none;
  text-align: center;
  background-color: rgb(68, 54, 54);
  border: 2px dashed rgb(187, 165, 165);
}

.top > a {
  text-decoration: none;
  color: rgb(249, 73, 85);
  font-family: 'Titillium Web', sans-serif;
}



.container-package {
    margin: 10% 10% 0 10%;
    width: 80%;
}


.package1 {
    box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    background-color: rgb(50, 50, 50);
    margin-left: 4%;
    display: inline-block;
    width: 20%;
    transition: 0.3s ease-in-out;
    shape-rendering: crispEdges;
    overflow: hidden;
}

.package2 {
    box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    background-color: rgb(50, 50, 50);
    margin-left: 4%;
    display: inline-block;
    width: 20%;
    transition: 0.3s ease-in-out;
    shape-rendering: crispEdges;
    overflow: hidden;
}

.package3 {
    box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    background-color: rgb(50, 50, 50);
    margin-left: 4%;
    display: inline-block;
    width: 20%;
    transition: 0.3s ease-in-out;
    shape-rendering: crispEdges;
    overflow: hidden;
}

.package4 {
    box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    background-color: rgb(50, 50, 50);
    margin-left: 4%;
    display: inline-block;
    width: 20%;
    transition: 0.3s ease-in-out;
    shape-rendering: crispEdges;
    overflow: hidden;
}






.package1:hover {
    filter: brightness(1);
    transform: scale(1.1);
    z-index: +9999;
  }

  .package2:hover {
    filter: brightness(1);
    transform: scale(1.1);
    z-index: +9999;
  }

  .package3:hover {
    filter: brightness(1);
    transform: scale(1.1);
    z-index: +9999;
  }

  .package4:hover {
    filter: brightness(1);
    transform: scale(1.1);
    z-index: +9999;
  }

  #pkgimg:hover {
    transform: scale(1);
  }

  .offer {
    width: 20%;
    position: absolute;
    left: 12%;
  }

  #offer-marker {
    transform: scale(1);
  }



  .client-pkg {
    width: 10%;
    height: 10%;
    overflow: hidden;
    display: inline-block;
    padding: 2% 0 3% 0;
    margin: 2% 0 3% 5%;
    border-radius: 10px;
  }

  .client-pkg > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }