


.landing {
    width: 100%;
    margin:10% 0 10% 0;
    font-size: 1.5vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(24, 24, 24);
}

.landing-branch > h1 {
    padding: 0 0 0 5%;
    margin-bottom: 1%;
}

.landing-branch > h2 {
    margin-top: 1%;
    padding: 0 0 2% 10%;
}

.landing-services {
    width: 100%;
    text-align: center;
}

.web {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
    border-right: 1px solid rgb(24, 24, 24);
}
.web2 {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
    border-right: 1px solid rgb(24, 24, 24);
}
.web3 {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
    border-right: 1px solid rgb(24, 24, 24);
}
.web4 {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
}

.web > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(24, 24, 24);
    padding: 0;
    margin: 0;
}
.web2 > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(24, 24, 24);
    padding: 0;
    margin: 0;
}
.web3 > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(24, 24, 24);
    padding: 0;
    margin: 0;
}
.web4 > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(24, 24, 24);
    padding: 0;
    margin: 0;
}


#quote-btn {
    width: 20%;
    margin: 5% 0 0 40%;
    padding: 1%;
    background-color: rgb(249, 73, 85);
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1.1vw;
    font-family: 'Titillium Web', sans-serif;
    transition: .3s ease-in-out;
}

#quote-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}