


.landing {
    margin:10% 0 0 0;
    font-size: 1.5vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(44, 31, 31);
}

.landing-branch {
    width: 40%;
    display: inline-block;
}

.header-video {
    width: 40%;
    display: inline-block;
    margin: 0 0 0 10%;
}

.header-video > img {
    width: 100%;
    filter: hue-rotate(225deg);
}

.header-video > img:hover {
    transform: scale(1);
}

.landing-branch > h1 {
    padding: 0 0 0 5%;
    margin-bottom: 1%;
}

.landing-branch > h2 {
    margin-top: 1%;
    padding: 0 0 2% 10%;
}

.landing-services {
    width: 100%;
    text-align: center;
    padding: 2% 0 2% 0;
    background-color: #222E3E;
}

.web {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
    border-right: 1px solid rgb(24, 24, 24);
}
.web2 {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
    border-right: 1px solid rgb(24, 24, 24);
}
.web3 {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
    border-right: 1px solid rgb(24, 24, 24);
}
.web4 {
    width: 20%;
    display: inline-block;
    padding: 2% 0 2% 0;
}

.web > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 210, 210);
    padding: 0;
    margin: 0;
}
.web2 > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 210, 210);
    padding: 0;
    margin: 0;
}
.web3 > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 210, 210);
    padding: 0;
    margin: 0;
}
.web4 > p {
    font-size: 1.2vw;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 210, 210);
    padding: 0;
    margin: 0;
}

.landing-btn {
    width: 100%;
    background-color: #222E3E;
    padding: 1% 0 10% 0;
}

#quote-btn {
    width: 20%;
    margin: 0 0 2% 40%;
    padding: 1%;
    background-color: #E34234;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1.1vw;
    font-family: 'Titillium Web', sans-serif;
    transition: .6s ease-in-out;
    display: block;
    text-align: center;
}

#quote-btn:hover {
    transform: translateY(-15%);
    box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 26px 28px -13px rgba(0,0,0,0.75);
    background-color: #da2e1f;
    cursor: pointer;
}


#p101 {
    margin-left: 15%;
}

#h101 {
    margin-left: -10%;
}