


@media only screen and (max-width: 700px) {






    .header-logo-text > h1 {
        font-size: 6vw;
    }

    #pronounce {
        font-size: 4vw;
    }


    .landing {
        font-size: 6vw;
        margin-top: 30%;
    }


    .header-video {
        display: none;
    }

    .landing-branch {
        width: 100%;
    }

    .top {
        display: none;
    }


    .web {
        width: 50%;
        display: inline-block;
        padding: 2% 0 2% 0;
        border-right: none;
    }
    .web2 {
        width: 50%;
        display: inline-block;
        padding: 2% 0 2% 0;
        border-right: none;
    }
    .web3 {
        width: 50%;
        display: inline-block;
        padding: 2% 0 2% 0;
        border-right: none;
    }
    .web4 {
        width: 50%;
        display: inline-block;
        padding: 2% 0 2% 0;
    }





















    .web > p {
        font-size: 6vw;
        font-family: 'Titillium Web', sans-serif;
        color: rgb(255, 210, 210);
        padding: 0;
        margin: 0;
    }
    .web2 > p {
        font-size: 6vw;
        font-family: 'Titillium Web', sans-serif;
        color: rgb(255, 210, 210);
        padding: 0;
        margin: 0;
    }
    .web3 > p {
        font-size: 6vw;
        font-family: 'Titillium Web', sans-serif;
        color: rgb(255, 210, 210);
        padding: 0;
        margin: 0;
    }
    .web4 > p {
        font-size: 6vw;
        font-family: 'Titillium Web', sans-serif;
        color: rgb(255, 210, 210);
        padding: 0;
        margin: 0;
    }



    #quote-btn {
        font-size: 5vw;
        width: 50%;
        text-align: center;
        margin: 5% 0 5% 25%;
    }

    .quote-btn2 {
        margin-left: 25%;
    }

.scroll-down {
    display: none;
}


.packages > h1 {
    font-size: 6vw;
    padding-top: 30%;
}

.packages > p {
    font-size: 5vw;
}

#p101 {
    margin-left: 5%;
}

#h101 {
    margin: 0;
}

.container {
    display: none;
}


.client-pkg {
    width: 40%;
    height: 10%;
    overflow: hidden;
    display: inline-block;
    padding: 2% 0 3% 0;
    margin: 2% 0 3% 5%;
    border-radius: 10px;
  }

  .client-pkg > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }




.mobilefooter {
    width: 100%;
    display: block;
    background-color: rgb(34, 46, 62);
}

.mobilefooter > a {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 10% 0 10% 0;
    font-size: 5vw;
    color: #F2F1E8;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}


footer {
    display: none;
}



}